@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* font-family: ''; */
  box-sizing: border-box;
}

@font-face {
  font-family: "Founder Gortesk";
  src: url("/Fonts/FoundersGrotesk-Regular.woff") format("woff"),
       url("/Fonts/FoundersGrotesk-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Neue Montreal";
  src: url("/Fonts/NeueMontreal-Regular.woff") format("woff"),
       url("/Fonts/NeueMontreal-Regular.woff2") format("woff2");
}
