@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Founders Grotesk Regular";
  src: url("/Fonts/FoundersGrotesk-Regular.woff");
}

@font-face {
  font-family: "Founders Grotesk Regular";
  src: url("/Fonts/FoundersGrotesk-Regular.woff2");
}
@font-face {
  font-family: "Neue Montreal";
  src: url("/Fonts/NeueMontreal-Regular.woff") format("woff"),
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/Fonts/NeueMontreal-Regular.woff2") format("woff2"),
}
